body{
    background-color: var(--color-primary);
}

@theme {

    /* colors backgound */
    --color-primary: #0f172a;
    --color-secondary: #1e293b;

    --color-border: #334155;
    
    /* colors backgound text */
    --color-text-primary: #e2e8f0;
    --color-text-secondary: #94a3b8;

    /* colors visual info */
    --color-success: #22c55e;
    --color-danger: #ef4444;
    --color-warning: #facc15;
    --color-accent: #3b82f6;
}